* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-size-adjust: auto;
}

.App {
  text-align: center;
  text-size-adjust: auto;
}

.App-header {
  background-color: #e1cec8;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5vh;
  font-family: "Arial";
  color: black;
  text-size-adjust: auto;
}

.App-description {
  background-color: #e1cec8;
  min-height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2vh;
  font-family: "Arial";
  color: black;
  text-size-adjust: auto;
}

.App-contact {
  background-color: #d3984a;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2vh;
  font-family: "Arial";
  color: black;
  text-size-adjust: auto;
}