table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  
  .search-bar{
    background-color: #d2c2cf;
    min-height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
    font-family: "Tahoma";
    color: #3d3824;
    text-size-adjust: auto;
  }
  
  .search-box{
    border: #3d3824;
    border: 1px solid;
    color: #3d3824;
    font-family: "Tahoma";
    margin-right: 5px;
    padding: 5px;
    background: white;
  }
  
  .search-button{
    background: white;
    border: #3d3824;
    border: 1px solid;
    border-radius: 8px;
    border-spacing: 3px;
    font-family: "Tahoma";
    color: #3d3824;
    padding: 5px;
  }

  table{
    width: 100%;
    table-layout: fixed;
    font-family: "Tahoma";
    color: #3d3824;
  }
  


  input:placeholder-shown{
    font-style: italic;
  }

